
{% csrf_token %}

<div class="group" style="margin-left: 70px;position: relative;margin-bottom: 30px;">
    <label for="id_name">Введите имя:</label>
    {{ form.name }}
    <input class="form-control" id="id_name" , name="name">
    <span class="bar"></span>

</div>
<div class="group" style="margin-left: 70px;position: relative;margin-bottom: 30px;">
    <label for="id_phone">Введите номер телефона:</label>
    {{ form.phone }}
    <input class="form-control" id="id_phone" , name="phone">
    <span class="bar"></span>
</div>
<br>
<h4>заголовок</h4>
<hr class="hrp">
<h5 style="color: #32CD32;">текст:</h5> <br>
<div>
    <div class="group" style="margin-left: 70px;position: relative;margin-bottom: 30px;">
        <label for="id_message">Введите текст:</label>
        {{ form.message }}
        <textarea class="form-control" name="message" id="id_message"></textarea>
        <span class="bar"></span>
    </div>
</div>
<div class="form-actions">
    <button class="bubbly-button" type="submit">Отправить</button>
</div>
